body {
    font-family: "Inter",sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.card{
    padding: 16px;
    background-color: #f4dede;
    width: 360px;
    height: 362px;
    border-radius: 16px;
}

.card2{
    padding: 16px;
    margin-top: 16px;
}



.card-top {
    display: flex;
    gap: 16px;
    align-items: center;
}

.card-image{
    border-radius: 12px;
    width: 112px;
    height: 64px;
}

.card-time{
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    background:  #2A282F;
    
}

.card-text{
    color:  #2A282F;
    letter-spacing: -0.56px;
    margin-top: 8px;
}

.card-date{
    color:  #A8A6AC;
    letter-spacing: -0.56px;
}

.card-info {
    
}









